[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
html-testrunner = {editable = true, path = "./../HtmlTestRunner"}
pytest = "*"
pytest-watch = "*"
livereload = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
